<app-estado-detail [(display)]="display"></app-estado-detail> 

<p-table [value]="listaDeEstados | async">
  <ng-template pTemplate="header">
      <tr>
          <th>Nome</th>
          <th>Abreviação</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-estado>
      <tr>
          <td>{{estado.nome}}</td>
          <td>{{estado.abreviacao}}</td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
        <button type="button" pButton icon="pi pi-plus" (click)="mostrarDialog()" label="Novo"></button>
    </div>
  </ng-template>
</p-table>

