<p-dialog header="Novo" [(visible)]="display" (onHide)="fechar()" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
  <div class="p-grid">
    <div class="p-col">
      <div class="ui-g-4">
        <label for="vin">Nome</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="nome" [(ngModel)]="estado.nome" />
      </div>
    </div>
    <div class="p-col">
      <div class="ui-g-4">
        <label for="year">Abreviação</label>
    </div>
    <div class="ui-g-8">
        <input pInputText id="abreviacao" [(ngModel)]="estado.abreviacao" />
    </div>
    </div>    
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="pi pi-close" (click)="fechar()" label="Remover"></button>
        <button type="button" pButton icon="pi pi-check" (click)="salvarEstado()" label="Salvar"></button>
    </div>
  </p-footer>
</p-dialog>



