<p-dialog header="Novo" [(visible)]="display" (onHide)="fechar()" 
          [responsive]="true" showEffect="fade" [modal]="true" [width]="400" [height]="700">
  <div class="p-grid">
    <div class="p-col">
      <div class="ui-g-4">
        <label for="nome">Nome</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="nome" [(ngModel)]="cidade.nome" />
      </div>
    </div>
    <div class="p-col">
      <div class="ui-g-4">
        <label for="abreviacao">Estado</label>
    </div>
    <div class="ui-g-8">
        <p-dropdown [options]="dropDownEstados | async" [(ngModel)]="cidade.estadoId" placeholder="Selecione" [showClear]="true">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
        </ng-template>
        </p-dropdown>
    </div>
    </div>    
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="pi pi-times" (click)="fechar()" label="Cancelar"></button>
        <button type="button" pButton icon="pi pi-check" (click)="salvarCidade()" label="Salvar"></button>
    </div>
  </p-footer>
</p-dialog>



